@import 'Theme/App';
@import 'Theme/TopNavigation';

body, html {
  padding: 0;
  margin: 0;
  overflow: hidden;
  max-width: 1920px;
  min-height: 1080px;
  background: url("../img/bg.jpg") no-repeat center;
  background-size: cover;
  font-family: Roboto, sans-serif;
}


@media screen and (max-width: 375px){
  overflow: auto;
}
